@media screen and (min-device-width : 1200px) {


body{
    margin:0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 300px 1fr;
}

.conteiner-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 241, 235) ;
  padding: 10px 15px;
  grid-column: 1/-1;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin:20px;
}

.imagem-central{
   width: 300px;
   height: 200px;
}

.card-imagens-central{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px wheat;
    text-align: center;
    margin-left: 50px;
}

footer{
    display: flex;
    background-color: rgb(245, 241, 235);
    height: 40px;
    justify-content: center;
    grid-column: 1/-1;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 15px;
}

video{
    margin-left: 30px;
    margin-top: 80px;
    margin-right: 150px;
}
 .titulo-do-video{
     display: flex;
     margin-left: 380px;
     margin-top:40px;
     font-size: 30px;
     
 }

}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body{
      max-width: 100%;
      height: 100%;
      margin:0;
        
    }
    
    .conteiner-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(245, 241, 235) ;
      grid-row: 1fr;
      font-size: 20px;
      position: fixed;
      top:0;
      padding-left: 7px;
      
    }

    input{
    width: 100px;
    padding: 10px 10px 10px;
    margin: 20px 60px;
    box-sizing: border-box;
    outline: none;
        
        
    }
    
    main{
       margin-right: 100px;
        margin:20px;
    }
    
    .imagem-central{
       width: 250px;
       height: 150px;
      
    }
    
    .card-imagens-central{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 1em wheat;
        text-align: center;
        margin-top: 100px;
    }
    
    footer{
        display: flex;
        background-color: rgb(245, 241, 235);
        height: 40px;
        justify-content: center;
        grid-column: 1/-1;
        margin-bottom: 0;
        margin-top: 0;
        padding: 10px 15px;
    }
    
    .tamanho-video-cel{
        height: 300px ;
        width: 320px ;
        margin-bottom: 1px;
        
    }
     .titulo-do-video{
         display: flex;
         margin-left: 10px;
         margin-top:80px;
         font-size: 18px;
         padding-top: 20px;

         
         
     }





}   